@using Microsoft.AspNetCore.Identity;
@using tunayy.Entities.Models.Concrete;
@inject UserManager<ApplicationUser> _userManager;
@{
    var loggedInUser = new ApplicationUser();
    loggedInUser = _userManager.Users?.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - tunayy</title>

    <!-- Özel yazı tipleri bu şablon için-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Özel stiller bu şablon için-->
    <link href="~/dashboard/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">

    <style>
        .bg-gradient-orange {
            background: linear-gradient(180deg, #ff7f00 10%, #ff4d00 100%);
            background-size: cover;
        }
    </style>
</head>

<body id="page-top">

    <!-- Sayfa Kapsayıcı -->
    <div id="wrapper">

        <!-- Yan Menü -->
        <ul class="navbar-nav bg-gradient-orange sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Yan Menü - Marka -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-lion"></i>
                </div>
                <div class="sidebar-brand-text mx-3">TunayMeen BLOG</div>
            </a>

            <!-- Bölücü -->
            <hr class="sidebar-divider my-0">

            <!-- Menü Öğesi - Gösterge Paneli -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Post" asp-area="Admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Gönderi</span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">

            @if (User.IsInRole("Admin"))
            {
                <!-- Menü Öğesi - Kullanıcı -->
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="User" asp-area="Admin">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Kullanıcı</span>
                    </a>
                </li>

                <!-- Menü Öğesi - Araçlar -->
                <li class="nav-item active">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-file"></i>
                        <span>Sayfalar</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Özel Araçlar:</h6>
                            <a class="collapse-item" asp-area="Admin" asp-controller="Page" asp-action="About">Hakkımızda</a>
                            <a class="collapse-item" asp-area="Admin" asp-controller="Page" asp-action="Contact">İletişim</a>
                            <a class="collapse-item" asp-area="Admin" asp-controller="Page" asp-action="Privacy">Site Çalışma Mantığı</a>
                        </div>
                    </div>
                </li>

                <!-- Menü Öğesi - Ayarlar -->
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Setting" asp-area="Admin">
                        <i class="fas fa-fw fa-gear"></i>
                        <span>Ayarlar</span>
                    </a>
                </li>

                <!-- Bölücü -->
                <hr class="sidebar-divider d-none d-md-block">
            }

            <!-- Yan Menü Tetikleyici (Yan Menü) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- Yan Menü Sonu -->
        <!-- İçerik Kapsayıcı -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Ana İçerik -->
            <div id="content">

                <!-- Üst Çubuk -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Yan Menü Tetikleyici (Üst Çubuk) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Üst Çubuk Menü -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Menü Öğesi - Kullanıcı Bilgisi -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @loggedInUser?.Adi @loggedInUser?.Soyadi
                                </span>
                            </a>
                            <!-- Açılır Menü - Kullanıcı Bilgisi -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <form asp-action="Logout" asp-controller="User" asp-area="Admin" method="post">
                                    <button type="submit" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Çıkış Yap
                                    </button>
                                </form>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- Üst Çubuk Sonu -->
                <!-- Sayfa İçeriği -->
                @RenderBody()
                <!-- /.container-fluid -->

            </div>
            <!-- Ana İçerik Sonu -->
            <!-- Altbilgi -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> TunayMeenBlog 2024</span>
                    </div>
                </div>
            </footer>
            <!-- Altbilgi Sonu -->

        </div>
        <!-- İçerik Kapsayıcı Sonu -->

    </div>
    <!-- Sayfa Kapsayıcı Sonu -->
    <!-- Yukarı Kaydır Butonu-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap çekirdek JavaScript -->
    <script src="~/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="~/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Çekirdek eklenti JavaScript -->
    <script src="~/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Tüm sayfalar için özel scriptler -->
    <script src="~/dashboard/js/sb-admin-2.min.js"></script>

    <!-- Sayfa düzeyindeki eklentiler -->
    <script src="~/dashboard/vendor/chart.js/Chart.min.js"></script>

    <!-- Sayfa düzeyindeki özel scriptler -->
    <script src="~/dashboard/js/demo/chart-area-demo.js"></script>
    <script src="~/dashboard/js/demo/chart-pie-demo.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/7qjkjvz7eegr5schf3b8iwvemcxjb82zvn5nvbm02u8l4xkb/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        tinymce.init({
            selector: '#richEditor',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>

</html>
